html{
  font-size: 18px;
  font-family: Helvetica;
  display: block;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
div{
  margin: 0;
}
p{
  margin: 0;
}

/* MEDIA SCREEN SIZES */

@media only screen and (max-width: 1024){
  .img1{
    width:47%;
  }
  .location{
    width: 35%;
  }
  .menu{
    content: "Menu";

  }
}

/*Banner*/

.banner{
  background-color: black;
  color: white;
  display: flex;
  width:100%;
  padding-left: 17rem;
  padding-right: 17rem;
  box-sizing: border-box;

}
.logo{
  display: flex;
 margin-left: 0.25rem;
}
.logo img{
  margin: auto 0.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}
.logo h2{
  margin: 0.66rem 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/* Top pic with the latest arrivals */

.toping{
  display: inline-block;
  background-image: url('../../resources/Pictures/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  width: 100%;
  background-size:cover;
  box-sizing: border-box;
  padding-left: 17rem;
  padding-right: 17rem;
  background-position: bottom;
}
.text1{
 background-color: black;
 color: white;
 text-align: left;
 width: 24rem;
 margin-top: 9rem;
 display: flex;
 flex-direction: column;
 font-weight: bold;
}
.text1 h3{
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.text1 h2{
  margin-top: 0.25rem;
  margin-left: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* MENU OPTIONS */
.menu{
  display: flex;
  justify-content: space-around;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: firebrick;
  color: white;
  width: 100%;
  padding-left: 17rem;
  padding-right: 17rem;
  box-sizing: border-box;

}
/*IMAGE SECTION*/

.img{
  margin-top: 3rem;
  display: flex;
  width: 960px;
  justify-content: space-around;
}
.img1{
  display: flex;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 30%;
  height: 9rem;
  margin: 0;
  width:30%;
  height: 9rem;
}

/*IMG text */

.imgtxt{
  display: flex;
  width: 960px;
  justify-content: space-around;
}
.imgtxt1{
  display: flex;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*locations*/

.storehours{
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 960px;
  margin-top: 3rem;
}
.location{
  border: 2px solid blue;
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 35%;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
.area1{
  display: flex;
  justify-content: space-between;
  width: 960px;

}
.area{
  color: black;
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

/*Footer */

.footer{
  display: flex;
  margin-top: 4rem;
  height: 5rem;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  color: white;
  width: 100%;
  align-items: center;
  padding-left: 17rem;
  padding-right: 17rem;
  box-sizing: border-box;
}
