html{
  font-size: 18px;
  font-family: Helvetica;
  display: block;
}

/*Banner*/

.banner{
  border:5px solid cyan;
  background-color: black;
  color: white;
  display: flex;
}
.logo{
  display: flex;
}
.logo img{
  margin: auto 0.5rem;
  height: 1.5rem;
  border: white solid 3px;
  display: flex;
  align-items: center;
}
.logo h2{
  margin: 0.66rem 0.5rem;
  border:2px solid red;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/* Top pic with the latest arrivals */

.toping{
  border: 5px solid yellow;
  background-image: url('../../resources/Pictures/moto.jpeg');
  background-repeat: no-repeat;
  height: 25rem;
  width:100%;
  background-size:cover;
  background-position: bottom;

}
.text1{
 background-color: black;
 color: white;
 text-align: left;
 width: 24rem;
 margin-top: 9rem;
 display: flex;
 flex-direction: column;
 font-weight: bold;
}
.text1 h3{
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.text1 h2{
  margin-top: 0.25rem;
  margin-left: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* MENU OPTIONS */
